{% extends 'base.html' %}
{% load static %}

{% block title %}Contact List{% endblock %}

{% block content %}
    {% include 'employee/includes/header.html' %}
    <h2>Contact List</h2>
    <table>
        <!-- Table content specific to contacts -->
        <thead>
            <tr>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>Postal Code</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.street_address }}</td>
                    <td>{{ contact.city }}</td>
                    <td>{{ contact.state }}</td>
                    <td>{{ contact.postal_code }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No contacts available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
