{% extends 'base.html' %}
{% load static %}

{% block title %}{% if department %}Edit Department{% else %}Create Department{% endif %}{% endblock %}

{% block content %}
    {% include 'employee/includes/header.html' %}
    <h2>{% if department %}Edit Department{% else %}Create Department{% endif %}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if department %}Update Department{% else %}Create Department{% endif %}</button>
        <a href="{% url 'department-list' %}" class="cancel-department">Cancel</a>
    </form>
{% endblock %}
