{% extends 'base.html' %}
{% load static %}

{% block title %}Department List{% endblock %}

{% block content %}
    {% include 'employee/includes/header.html' %}
    <h2>Department List</h2>

    <!-- Create Department Button -->
    <a href="{% url 'department-create' %}" class="create-department">Create Department</a>

    <table>
        <!-- Table content specific to departments -->
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for department in departments %}
                <tr>
                    <td>{{ department.name }}</td>
                    <td>{{ department.description }}</td>
                    <td>
                        <a href="{% url 'department-edit' pk=department.pk %}" class="edit-department">Edit</a>
                        <a href="{% url 'department-delete' pk=department.pk %}" class="delete-department">Delete</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No departments available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
