{% extends 'base.html' %}
{% load static %}

{% block title %}Employee List{% endblock %}

{% block content %}
    <!-- Include the styles.css file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    
    {% include 'employee/includes/header.html' %}
    <h2>Employee List</h2>
    <table>
        <!-- Table content specific to employees -->
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee.first_name }}</td>
                    <td>{{ employee.last_name }}</td>
                    <td>{{ employee.department }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No employees available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Employee creation form modal trigger -->
    <button id="show-create-modal">Create Employee</button>

    <!-- Modal -->
    <div id="create-modal" style="display: none;">
        <div class="modal-content">
            <h2>Create Employee</h2>
            <!-- Your form content here -->
            <form method="post" id="create-form" enctype="multipart/form-data" action="{% url 'employee-list-create' %}">
                {% csrf_token %}
                
                <!-- Use the same structure for form rendering -->
                {% for field in form %}
                    <div class="form-control">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                
                <button type="submit">Create</button>
            </form>
            <button id="close-create-modal">Close</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- Include the external JavaScript file -->
    <script src="{% static 'js/employee.js' %}"></script>
{% endblock %}