{% extends 'base.html' %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% comment %} {% block css_files %}
    <link rel="stylesheet" href="{% static 'css/styles.css'}"/>
{% endblock %} {% endcomment %}

{% block content %}
    <h1>Welcome to the Home Page</h1>
    <ul>
        <li><a href="{% url 'employee-list-create' %}">Employees</a></li>
        <li><a href="{% url 'contact-list' %}">Contacts</a></li>
        <li><a href="{% url 'department-list' %}">Departments</a></li>
        <li><a href="{% url 'project-list' %}">Projects</a></li>
    </ul>
{% endblock %}