{% extends 'base.html' %}
{% load static %}

{% block title %}{% if project %}Edit Project{% else %}Create Project{% endif %}{% endblock %}

{% block content %}
    {% include 'employee/includes/header.html' %}
    <h2>{% if project %}Edit Project{% else %}Create Project{% endif %}</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if project %}Update Project{% else %}Create Project{% endif %}</button>
        <a href="{% url 'project-list' %}" class="cancel-project">Cancel</a>
    </form>
{% endblock %}
